.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .text-6xl,
  .text-8xl,
  .text-9xl,
  .text-\[12rem\] {
    font-size: 3rem;
    line-height: 0.8;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .text-\[12rem\] {
    font-size: 8rem;
  }
}